.logoTitle {
    font-size: 2.2em;
    font-weight: 600;
    letter-spacing: 0.10rem;
    line-height: 1.4rem;
    margin-right: .9rem;
    margin-bottom: 0;
}

.imgIllustration {
    background-image: radial-gradient(#0DB958 36%, #234D4C);
}

.floatLabel {
    font-size: .94em;

    &.floatLabelDark {
        color: var(--gray-200);
    }

    &.floatLabelLight {
        color: var(--gray-600);
    }

    & > label {
        bottom: -.8rem;
        padding-left: .5rem !important;
        padding-right: .5rem !important;
    }
}


.formLink {
    font-size: .86em;
    font-weight: 500;
}