.layout_container {
  body,
  &.light {
    background-color: var(--light) !important;
  }

  body,
  &.dark {
    background-color: var(--dark) !important;
  }
}

.main {
  position: relative;
}

.div_header {
  height: 5.5rem;
}
