.layout_container {
  body,
  & {
    min-height: 100vh;
  }

  body,
  &.light {
    background-color: var(--light) !important;
  }

  body,
  &.dark {
    background-color: var(--dark) !important;
  }
}

.main {
  position: relative;
}

.div_header {
  height: 4.6rem;
}
