.button {
  position: relative;
  padding: 0 !important;
  margin: 0;

  &,
  .input_check,
  .switch {
    height: 21px;
    width: 45px;
  }
}

.input_check {
  display: block;
  padding: 0 !important;
  margin: 0 !important;

  position: absolute;
  z-index: 1500;

  opacity: 0;
  cursor: pointer;
}

.toggle_switch {
  width: fit-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}

.switch {
  position: relative;
  border-radius: 25px;
  transition: var(--tran-05);
  padding: 0 !important;
  margin: 0 !important;

  &::before {
    content: "";
    position: absolute;
    top: .6em;
    left: 5px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
  }

  &.light {
    background-color: var(--gray-600);
  }

  &.dark {
    background-color: #8dbdff;

    &::before {
      left: 25px;
    }
  }
}
