.body {
  padding: 0 !important;
  height: 100vh !important;

  &.light {
    background-color: var(--light);
  }

  &.dark {
    background-color: var(--dark);
  }
}

// @media only screen and (min-width: 993px) {ss
//   .body {
//     left: 5rem;
//   }
// }
// ------------------------------------------- CARD ------------------------------------------
.profile_container {
  padding: 1.3em;
}

.edit-icon {
  background-color: green;
}

.profile_container_card {
  height: 100%;
  background-color: var(--gray-200);
  border-radius: 10px;
  padding: 2em;
}

.profile_img {
  margin-bottom: 2em;
}

.profile_container_name {
  margin-bottom: 0.5em;
}

.profile_name_input {
  margin-bottom: 4em;
  font-size: 0.8em;
}

.profile_container_location {
  margin-bottom: 1.5em;
}

.profile_container_label {
  width: 100%;
  font-size: 1.7em;
  padding-top: 0.8em;
}

.profile_location {
  width: 100%;
  font-size: 0.8em;
}

.location_icon {
  margin-top: auto;
  margin-bottom: auto;
}

// ------------------------------------ MAIN SIDE ----------------------------------------

.infos_container {
  padding: 1.6rem;
  padding-top: 1.4rem;
}

.campo {
  margin-bottom: 3em;
}

.campo_label {
  font-size: 1.4em;
  padding-top: 1.5em;
}

.campo_input {
  font-size: 0.8em;
}
