.body {
  padding: 0 !important;

  &.light {
    background-color: var(--light);
  }

  &.dark {
    background-color: var(--dark);
  }
}

@media only screen and (min-width: 993px) {
  .body {
    margin-left: 1em;
  }
}

// ------------------------------------------- CARD ------------------------------------------
.profile_container {
  padding: 1.3em;
}

.profile_container_card {
  height: 100%;
  background-color: var(--gray-200);
  border-radius: 10px;
  padding: 2em;
}

.edit_icon {
  width: 20px;
  height: 20px;
}

.blue_edit_button {
  transition: all 0.2s;
  color: var(--blue-600);
}

.profile_container_img {
  margin-bottom: 2em;
}

.profile_container_name {
  margin-bottom: 0.5em;
}

.profile_name_input {
  margin-bottom: 4em;
  font-size: 0.8em;
}

.profile_container_location {
  margin-bottom: 1.5em;
}

.profile_container_label {
  width: 100%;
  font-size: 1.7em;
  padding-top: 0.8em;
}

.profile_location {
  width: 100%;
  font-size: 0.8em;
}

.location_icon {
  margin-top: auto;
  margin-bottom: auto;
}

// ------------------------------------ MAIN SIDE ----------------------------------------

.infos_container {
  padding: 1.6rem;
  padding-top: 1.4rem;
}

.campo {
  margin-bottom: 3em;
}

.campo_label {
  font-size: 1.4em;
  padding-top: 1.5em;

  &.light {
    color: var(--gray-500);
  }

  &.dark {
    color: var(--gray-50);
  }
}

.campo_input {
  font-size: 0.8em;
}

.save_button_contaier {
  margin-top: 1.5em;
}

.save_button {
  width: 100%;
  transition: all 0.2s;
}
