/* Variable colors */
:root {
  --light: #F5F5F5;
  --dark: #2A2A2E;

  --white: #FFFFFF;
  --white-ice: #F5F5F5;
  --gray-50: #E9E9E9;
  --gray-100: #E8E8E8;
  --gray-200: #DADADA;
  --gray-300: #565656;
  --gray-400: #808080;
  --gray-600: #333333;
  --gray-700: #2A2A2E;

  --blue-100: #A0C8FF;
  --blue-200: #8DBDFF;
  --blue-300: #729BD3;
  --blue-400: #4681D3;
  --blue-500: #3478D4;
  --blue-600: #206DD5;

  --green-300: #87FFBC;
  --green-400: #5DFFA5;
  --green-500: #04D361;
  --green-600: #00CF5D;
  --green-800: #00B04F;
  --green-dark: #00B024;

  --purple-300: #9F75FF;
  --purple-400: #9164FA; 
  --purple-500: #8257E5;
  --purple-600: #6F48C9;

  --red-300: #FF5037;
  --red-400: #FF472D;
  --red-500: #FF3A1E;
  --red-600: #F72C10;

  --yellow-300: #FFF460;
  --yellow-400: #FFF23F;
  --yellow-500: #FFF028;
  --yellow-600: #F9E910;

  --tons-primary: rgba(50,50,50,.3);
}

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, textArea, button, p {
  font: 500 1rem 'Fira Sans', sans-serif;
}

/* Inputs */

input:focus, button:focus, textArea:focus, select:focus {
  outline: none;
}

/* Buttons */

button, a {
  cursor: pointer;
}

input[type=button]:hover, button:hover {
  background-image: linear-gradient(#00000000, #00000010 40%, #00000026);
}

.remove-focus:focus {
  border: 0 !important;
  box-shadow: none !important;
  outline: none !important;
}

/* Height and width */
.h-full {
  height: 100vh;
}

.w-full {
  width: 100vw;
}


/* Text */
h1, h2, h3, h4, h5, h6, title {
  font:  600 1.2rem 'Dongle', sans-serif;
}

.text-error {
  font-size: .9rem;
  font-weight: 500;
  color: var(--red-300) !important;
}

.cursor-pointer {
  cursor: pointer;
}

.remove-bg-image:hover {
  background-image: none;
}
