// Styles global Header
.headerContainer {
  grid-area: header;
  position: fixed;
  width: 100%;
  height: 4.5rem;
  margin: 0;
  padding: 0;
  top: 0;
  z-index: 1000;

  &.light {
    box-shadow: 0 0 10px rgba(50, 50, 50, 0.3);
    background-color: var(--light);
  }

  &.dark {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: var(--dark);
  }
}

.flexContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}

.boxItem {
  padding: 0.3rem;
}

/* .button {
  background: transparent;
  border: 0;
} */

.buttonClear {
  background-color: transparent !important;

  &:hover {
    background-image: none;
  }
}

/* ICON: HiInformationCircle */
.iconInfo {
  fill: #5c9af9;
  font-size: 1.1rem;
  vertical-align: middle;
}
/** ----------------------------- */

// Styles from InputSearch


.dropdownMenuSearch {
  position: absolute;
  top: 80px;
  left: 0;

  transition: display 1s ease-out, height 1s ease-out;

  &.light {
    background-color: var(--gray-300);
    box-shadow: 0 10px 20px rgba(50, 50, 50, 0.3);
  }

  &.dark {
    background-color: var(--gray-500);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }
}

.searchContainer {
  background-color: transparent;
  position: absolute;
  left: 4%;
}

.boxIcon {
  padding: 0.2rem;
}

.search {
  padding: 0 0.85rem;
  border-radius: 0.5rem 1rem 1rem 0.5rem;
  border: 0px;
  font-size: 1.1rem;

  &.light,
  &.light:focus,
  &.light::placeholder {
    color: var(--gray-700);
    background-color: var(--gray-200);
  }

  &.dark,
  &.dark:focus,
  &.dark::placeholder {
    color: var(--gray-50);
    background-color: var(--gray-300);
  }

  &::placeholder {
    font-weight: 600;
    font-size: 1rem;
  }
}

.inputGroupText {
  border: 0;
  padding: 0;

  &.light {
    background-color: var(--gray-200);
  }

  &.dark {
    background-color: var(--gray-300);
  }

  &:nth-child(2n) {
    border-radius: 0 0.5rem 0.5rem 0;
  }
}

.buttonSearch {
  height: 100%;
  background-color: var(--blue-500);
  padding: 0.7rem 1.2rem;
  border-radius: 0 0.5rem 0.5rem 0;
  border: 0;
}

.iconSearch {
  font-size: 1.5rem;
  vertical-align: middle;

  &.iconMenuSearch {
    &.light {
      color: var(--gray-700);
    }

    &.dark {
      color: var(--gray-100);
    }
  }
}

.buttonAudio {
  padding: 0 0.5rem;
  background-color: transparent !important;

  &:hover {
    background-image: none;
  }
}

@keyframes fadeIn {
  from {
    color: var(--gray-500);
    opacity: 0.6;
  }

  to {
    color: var(--green-600);
    opacity: 1;
  }
}

.iconAudio {
  font-size: 1.5rem;
  vertical-align: middle;
  transition: color 0.3s ease-out;

  &.light {
    color: var(--gray-700);
  }

  &.dark {
    color: var(--gray-100);
  }

  &:hover {
    color: #729bd3;
  }

  &.listening {
    animation: fadeIn 1.4s cubic-bezier(0.67, -0.18, 0.16, 1.06) infinite;
  }
}

.iconClear {
  font-size: 1.5rem;
  vertical-align: middle;
  transition: color 0.3s ease-out;

  &.light {
    color: var(--gray-700);
  }

  &.dark {
    color: var(--gray-100);
  }

  &:hover {
    color: #f45d4e;
  }
}
/** ----------------------------- */

/* SWITCH */
.switchContainer {
  width: 3.3rem;
  height: 1.68rem;
  position: relative;
  border-radius: 15px 15px;
  overflow: hidden;
  border: 1px solid #A0C8FF60;

  &.light {
    background-color: #00000080;
  }

  &.dark {
    background-color: var(--grau-400);
  }
}

.inputCheck {
  display: block;
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  opacity: 0;
  cursor: pointer;
}

.stateSwitch {
  display: block;
  width: 40%;
  height: 82%;
  background: #c0c0c0;
  border-radius: 100%;
  transition: transform 0.4s ease;
  transform: translateX(0);

  position: absolute;
  z-index: 2;
  left: 3px;
  top: 2.55px;

  background: linear-gradient(var(--purple-400), var(--purple-300));

  &.activeSwitch {
    transform: translateX(118%);
  }

  &::after {
    content: "";

    position: absolute;
    left: 15%;
    top: 18%;
    border-radius: inherit;
    width: 70%;
    height: 70%;

    background: linear-gradient(31deg, var(--purple-600), var(--purple-300));
  }
}

.flexSwitch {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;

  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  flex-wrap: nowrap;
  vertical-align: middle;
}

.containerMoon {
  background: transparent;
  height: 100%;
  width: 100%;
}

.containerSun {
  background: transparent;
  height: 100%;
  width: 100%;
}

.span {
  margin: 0 auto;
  font-size: 1em;
}

/* DROPDOWN */
.dropdownMenuContainer {
  padding: 0.2rem;
}

.dropdownButton {
  font-size: 0.95rem;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  background-color: none !important;

  &.light {
    color: var(--white);
  }

  &.dark {
    color: var(--white);
  }

  &:hover {
    background-image: none;
  }

  &.light:hover,
  &.dark:hover {
    filter: sepia(02%);
  }
}

.dropdown {
  width: 14rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  border-radius: 0.8rem;

  position: absolute;
  top: 95%;
  right: 10.5%;
  z-index: 900;

  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;

  &.light {
    background-color: var(--light);
  }

  &.dark {
    background: var(--dark);
  }

  &.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

.select {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 0;
}

.option {
  text-align: center;
  text-decoration: none;
  padding: 0.8rem 1.3rem;
  display: block;
  box-sizing: content-box;

  &.light {
    color: var(--gray-700);
    border-bottom: 1px solid var(--gray-200);
  }

  &.dark {
    color: var(--gray-100);
    border-bottom: 1px solid var(--gray-400);
  }

  &:hover {
    filter: blur(40%);
    cursor: pointer;
  }

  &:last-child {
    border-bottom: 0;
  }
}
/** ----------------------------- */

/* ICON NAVBAR  */
.boxIconMenu {
  border-radius: 4em;
  padding: .3em;

  &:hover {
    background: #3478d418;
  }
}

@keyframes visible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.iconMenu {
  font-size: 1.5rem;
  vertical-align: middle;

  &.light {
    color: var(--gray-700);
  }

  &.dark {
    color: var(--gray-100);
  }

  &:hover {
    cursor: pointer;
  }

  &.open {
    color: var(--blue-300);
  }
}
/** ----------------------------- */

/** Styles from Navigation header */
.nav {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

.navRow {
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  justify-items: center;
  align-items: center;
  list-style-type: none;
}

.navItem {
  margin-right: 0.9rem;
  margin-top: 0.9rem;
}

// Element Link
.link {
  height: 100%;
  padding: 0.7rem;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;

  &:hover {
    color: var(--blue-500);
  }
}

.buttonLogin {
  color: var(--white);
  font-weight: 600;
  background: var(--blue-500);
  padding: 0.6rem 0.9rem;
  border-radius: 10px;
  text-decoration: none;

  width: 90%;
  height: 90%;

  &:hover {
    color: var(--white);
    background-image: linear-gradient(#00000000, #00000010 40%, #00000026);
  }
}
/** ----------------------------- */

/** Styles from Logo */
.logoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem;
  margin-left: 1px;
}

.typography {
  font: 600 1.4rem "Noto Sans JP", sans-serif;
  text-align: center;
  margin-left: 0.7rem;
}
/** ----------------------------- */

/* Popover */

.popoverContainer {
  border: transparent;
  border-radius: 10px;

  &.light {
    background: linear-gradient(5deg, rgba(253, 253, 253, 0.8), rgba(245, 245, 245, 0.8));
  }

  &.dark {
    background: linear-gradient(5deg, rgba(79, 82, 101, 0.8), rgba(95, 99, 114, 0.8));
  }

  &.light > .popover-arrow::after {
    border-bottom-color: #fdfdfd;
  }

  &.dark > .popover-arrow::after {
    border-bottom-color: #4f526590;
  }
}

.popoverBody {
  padding: 0.7rem;
  border: 1px solid #96969620;
  border-radius: 10px;

  &.light {
    color: var(--gray-500);
    background: linear-gradient(5deg, rgba(253, 253, 253, 0.8), rgba(245, 245, 245, 0.8));
  }

  &.dark {
    color: var(--gray-50);
    background: linear-gradient(5deg, rgba(79, 82, 101, 0.8), rgba(95, 99, 114, 0.8));
  }
}

.popoverTitle {
  font-size: 0.9rem;
}
