/* ----------- SIDEBAR CONTAINER ----------- */
.sidebar_container {
  min-height: 100vh;
  width: 15%;
  padding: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  display: flex;
  flex-direction: column;

  &.light {
    background-color: var(--light);
  }

  &.dark {
    background-color: var(--dark);
  }

  &.inactive {
    width: 80px;
  }
}

/* ----------- SIDEBAR HEADER ----------- */
.logo_title {
  font-size: 1.7em;
  font-weight: 600;
  letter-spacing: 0.1rem;
  line-height: 0.7em;
  margin-left: 0.5rem;
  margin-bottom: 0;

  &.light {
    color: var(--gray-500);
  }

  &.dark {
    color: var(--gray-100);
  }
}

/* ----------- SIDEBAR BODY ----------- */

.sidebar_body {
  & a {
    font-weight: 500;
    font-size: 1rem;
    padding: 0.4rem 0.5rem;
    border-radius: 5px;

    &.active {
      background: #a0c8ff50;
    }
  }

  &.light {
    & a,
    & div a svg {
      color: var(--gray-600);
      fill: var(--gray-600);
    }
  }

  &.dark {
    & div a,
    & div a svg {
      color: var(--gray-100);
      fill: var(--gray-100);
    }
  }
}

/* ----------- SIDEBAR FOOTER ----------- */
.sidebar_footer {
  margin-bottom: 0.5rem;
}

.theme_mode {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.5rem;
  border-radius: 5px;

  & span {
    margin-left: 0.5rem;
  }

  & span,
  & svg {
    font-weight: 600;
    font-size: 0.9rem;
  }

  & svg {
    vertical-align: middle;
  }

  &.light {
    background-color: var(--gray-200);
    color: var(--gray-600);
  }

  &.dark {
    background-color: var(--gray-600);
    color: var(--blue-100);
  }
}

/* ----------- MEDIAS ----------- */
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
